# Python virtual environment
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment / secrets
.env
.env.*
*.pem
*.key

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log

# Spark / Hadoop temporary files
metastore_db/
derby.log/
spark-warehouse/
